<mat-list-item class="todo-list-item">
  <div class="item-description {{isImportant?'item-important':''}} {{isDone ? 'item-done' : ''}}">{{text}}</div>

  <div class="action-buttons">
    <button
      mat-button
      class="btn-important"
      (click)="onImportant.emit()"
    >
      <mat-icon>notification_important</mat-icon>
    </button>
    <button
      mat-button
      class="btn-done"
      (click)="onDone.emit()"
    >
      <mat-icon>done_all</mat-icon>
    </button>
    <button
      mat-button
      class="btn-delete"
      (click)="onDelete.emit()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-list-item>
<mat-divider></mat-divider>

