<div class="page">
  <header class="app-header">
    <h1>{{title}}</h1>
    <p>0 of 3 done</p>
  </header>

  <main class="app-container">

    <div class="app-options">
      <mat-form-field class="todo-list__input">
        <mat-label>Filter to-do</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <mat-button-toggle-group name="todoItemOption" class="app-options__buttons">
        <mat-button-toggle value="important">Important</mat-button-toggle>
        <mat-button-toggle value="done">Done</mat-button-toggle>
        <mat-button-toggle value="all">All</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="todo-list">
      <mat-list>
        <mat-list-item class="todo-list__item">
          <div class="item__description">to-do number one</div>

          <div class="todo-list__action-buttons">
            <button mat-button class="btn-important">
              <mat-icon>notification_important</mat-icon>
            </button>
            <button mat-button class="btn-done">
              <mat-icon>done_all</mat-icon>
            </button>
            <button mat-button class="btn-delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="todo-list__item">
          <div class="item__description">to-do number two</div>

          <div class="todo-list__action-buttons">
            <button mat-button class="btn-important">
              <mat-icon>notification_important</mat-icon>
            </button>
            <button mat-button class="btn-done">
              <mat-icon>done_all</mat-icon>
            </button>
            <button mat-button class="btn-delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item class="todo-list__item">
          <div class="item__description">to-do number three</div>

          <div class="todo-list__action-buttons">
            <button mat-button class="btn-important">
              <mat-icon>notification_important</mat-icon>
            </button>
            <button mat-button class="btn-done">
              <mat-icon>done_all</mat-icon>
            </button>
            <button mat-button class="btn-delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>

      </mat-list>
    </div>

    <mat-form-field class="todo-list__input">
      <mat-label>Add new to-do</mat-label>
      <input matInput placeholder="Master TypeScript" value="">
    </mat-form-field>

    <button mat-raised-button class="btn-addtodo">Add to-do</button>
  </main>

  <footer class="app-footer"></footer>
</div>
