<div class="page">
  <header class="app-header">
    <h1>{{title}}</h1>
    <p>0 of 3 done</p>
  </header>

  <main class="app-container">

    <div class="app-options">
      <mat-form-field class="todo-list__input">
        <mat-label>Filter to-do</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <mat-button-toggle-group name="todoItemOption">
        <mat-button-toggle value="important">Important</mat-button-toggle>
        <mat-button-toggle value="done">Done</mat-button-toggle>
        <mat-button-toggle value="all">All</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="todo-list">
      <div class="todo-list__item">
        <span>to-do number one</span>

        <button mat-button>
          <mat-icon>notification_important</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>done_all</mat-icon>
        </button>

        <button mat-button>
          <mat-icon>delete</mat-icon>
        </button>

      </div>

      <div class="todo-list__item">
        <span>to-do number two</span>

        <button mat-button>
          <mat-icon>notification_important</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>done_all</mat-icon>
        </button>

        <button mat-button>
          <mat-icon>delete</mat-icon>
        </button>

      </div>

      <div class="todo-list__item">
        <span>to-do number three</span>

        <button mat-button>
          <mat-icon>notification_important</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>done_all</mat-icon>
        </button>

        <button mat-button>
          <mat-icon>delete</mat-icon>
        </button>

      </div>


    </div>

    <mat-form-field class="todo-list__input">
      <mat-label>Add new to-do</mat-label>
      <input matInput placeholder="Master TypeScript" value="">
    </mat-form-field>

    <button mat-raised-button>Add to-do</button>
  </main>

  <footer class="app-footer"></footer>
</div>
